body{

    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-family: 'Acme', sans-serif;
    color: white;
  


  
 
    
}
 



 @media(min-width:768px){

    #caja1{

        width: 80%;
        height: 80vh;
        margin: 0 auto;
        position: relative;
    
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 3.0px );
        -webkit-backdrop-filter: blur( 3.0px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }


 #caja2{

    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 50%;
    

    vertical-align: middle;

        width: 100%;
        height: 76vh;
        
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;


 }


 #botones{



    width: 75%;
    height: 100%;
    margin:0 auto;
    text-align: center;
    margin-bottom: 4%;

   

    border-radius: 44px;
    background: #7F00FF;
    box-shadow:  26px 26px 51px #330066,
                 -26px -26px 51px #cb00ff;
    
  }


  #logos{


    width:60%;
    height: 60%;
    margin-top:15%;
    
    }

 }

 @media(max-width:768px){

    #caja1{

        width: 80%;
        height: 1000px;
        margin: 0 auto;
        
    
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 3.0px );
        -webkit-backdrop-filter: blur( 3.0px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );

    }

    #caja2{
   
       display: grid;
       grid-template-columns: 100%;
       grid-template-rows: 30% 30% 30%;
       row-gap: 10px;

       
   
       vertical-align: middle;
   
           width: 100%;
           height: 100%;
           margin-top: 3px;
           margin-bottom: 3px;
           margin-left: auto;
           margin-right: auto;
   
   
    }
   
   
    #botones{
   
   
   
       width: 75%;
       height: 80%;
       margin:0 auto;
       text-align: center;
       margin-bottom: 4%;
   
      
   
       border-radius: 44px;
       background: #7F00FF;
       box-shadow:  26px 26px 51px #330066,
                    -26px -26px 51px #cb00ff;
       
     }
   
   
     #logos{
   
   
       width:60%;
       height: 60%;
       margin-top:15%;
       
       }
   
    }
--------------------------------------------------------------------------------------------------------------------------------
#footer{

    margin-top: 20px;
    background-color:white;
    



}


h3{

        font-family: 'Acme', sans-serif;
        color: white;
        margin-top: -2%;
        font-size: 70%;
        text-align: center;
        margin-bottom: 4%;
      
      }

      .redes-container{
        display: flex;
        height: 18vh;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 30px;
    }
    
    .redes-container ul li{
        display: inline-block;
        margin: 0 5px;
        width: 50px;
        height: 50px;
        text-align: center;
    }
    
    .redes-container ul li a{
        display: block;
        padding: 0 10px;
        background-color: #333;
        color: white;
        line-height: 50px;
        font-size: 18px;
        box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 2);
        transition: .2s;
    }
    
    .redes-container ul:hover a{
        filter:blur(2px);
    }
    
    .redes-container ul li a:hover{
        transform: translate(-3px) scale(1.05);
        box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 4);
        filter: none;
    }
    
    .redes-container ul li .facebook:hover{
        background-color: var(--facebook);
    }
    
    .redes-container ul li .instagram:hover{
        background-color: var(--instagram);
    }
    
    .redes-container ul li .twitter:hover{
        background-color: var(--twitter);
    }
    
    .redes-container ul li .pinterest:hover{
        background-color: var(--pinterest);
    }
    
    .redes-container ul li .linkedin:hover{
        background-color: var(--linkedin);
    }
    
      